@font-face {
	font-family: 'Myfont';
	src: url("src/font/font.ttf")
}

*{    
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    font-family:  'Overpass', 'Myfont', sans-serif;
    background-color: #f0f0f0;
    color: #303030;
}

/*パソコン向け*/
@media screen and (min-width:961px) {
    .container{
        width: 70%;
        margin: 0 15%;
    }
    .about_flex{
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .aboutme{
        width: 70%;
    }
    .aboutme h1{
        margin: 30px 0;
        letter-spacing: 0.2em;
    }
    .aboutme h3{
        margin: 10px 0;
    }
    .aboutme p{
        width: 80%;
        line-height: 200%;
        margin: 10px 0;
    }
    .profile_image{
        width: 25%;
        height: auto;
    }
    .skill{
        margin-top: 50px;
    }
    .skill_flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
    }
    .skill_box{
        width: 25%;
    }
    .mobile_pie{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        width: 150px;
        height: 150px;
        font-size: 40px;
        font-weight: 700;
        color: #d97c8d;
        background-image: radial-gradient(#f0f0f0 30%, transparent 31%), conic-gradient(#d97c8d 0% 85%, #c8c8c8 85% 100%);
        border-radius: 50%;
    }
    .web_pie{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        width: 150px;
        height: 150px;
        font-size: 40px;
        font-weight: 700;
        color: #f0cd54;
        background-image: radial-gradient(#f0f0f0 30%, transparent 31%), conic-gradient(#f0cd54 0% 75%, #c8c8c8 75% 100%);
        border-radius: 50%;
    }
    .design_pie{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        width: 150px;
        height: 150px;
        font-size: 40px;
        font-weight: 700;
        color: #e69163;
        background-image: radial-gradient(#f0f0f0 30%, transparent 31%), conic-gradient(#e69163 0% 65%, #c8c8c8 65% 100%);
        border-radius: 50%;
    }
    .movie_pie{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        width: 150px;
        height: 150px;
        font-size: 40px;
        font-weight: 700;
        color: #aaa6e8;
        background-image: radial-gradient(#f0f0f0 30%, transparent 31%), conic-gradient(#aaa6e8 0% 55%, #c8c8c8 55% 100%);
        border-radius: 50%;
    }
    .skill p{
        margin: 10px 0;
    }
}

/*タブレット向け*/
@media screen and (min-width:521px) and (max-width:960px) {
	.container{
        width: 80%;
        margin: 0 10%;
    }
    .about_flex{
        margin: 100px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .aboutme{
        width: 70%;
    }
    .aboutme h1{
        font-size: 22px;
        margin: 30px 0;
        letter-spacing: 0.1em;
    }
    .aboutme h3{
        font-size: 16px;
        margin: 10px 0;
    }
    .aboutme p{
        font-size: 14px;
        width: 80%;
        line-height: 200%;
        margin: 10px 0;
    }
    .profile_image{
        width: 30%;
        height: auto;
    }
}

/*スマホ向け*/
@media screen and (min-width:351px) and (max-width:520px) {
	.container{
        width: 80%;
        margin: 0 10%;
    }
    .aboutme h1{
        font-size: 20px;
        margin: 30px 0;
        letter-spacing: 0.1em;
    }
    .aboutme h3{
        font-size: 16px;
        margin: 10px 0;
    }
    .aboutme p{
        font-size: 14px;
        line-height: 200%;
        margin: 10px 0;
    }
    .profile_image{
        width: 70%;
        height: auto;
        margin: 0 15%;
    }
}

@media screen and (min-width:1px) and (max-width:350px) {
	.container{
        width: 80%;
        margin: 0 10%;
    }
    .aboutme h1{
        font-size: 20px;
        margin: 30px 0;
    }
    .aboutme h3{
        font-size: 16px;
        margin: 10px 0;
    }
    .aboutme p{
        font-size: 14px;
        line-height: 200%;
        margin: 10px 0;
    }
    .profile_image{
        width: 70%;
        height: auto;
        margin: 0 15%;
    }
}
