@font-face {
	font-family: 'Myfont';
	src: url("src/font/font.ttf")
}

*{    
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    font-family:  'Overpass', 'Myfont', sans-serif;
    background-color: #f0f0f0;
    color: #303030;
}

.mobile_pie{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    font-weight: 700;
    color: #d97c8d;
    background-image: radial-gradient(#f0f0f0 30%, transparent 31%), conic-gradient(#d97c8d 0% 85%, #c8c8c8 85% 100%);
    border-radius: 50%;
}
.web_pie{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    font-weight: 700;
    color: #f0cd54;
    background-image: radial-gradient(#f0f0f0 30%, transparent 31%), conic-gradient(#f0cd54 0% 75%, #c8c8c8 75% 100%);
    border-radius: 50%;
}
.design_pie{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    font-weight: 700;
    color: #e69163;
    background-image: radial-gradient(#f0f0f0 30%, transparent 31%), conic-gradient(#e69163 0% 65%, #c8c8c8 65% 100%);
    border-radius: 50%;
}
.movie_pie{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    font-weight: 700;
    color: #aaa6e8;
    background-image: radial-gradient(#f0f0f0 30%, transparent 31%), conic-gradient(#aaa6e8 0% 55%, #c8c8c8 55% 100%);
    border-radius: 50%;
}

.achieve_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
}

.article_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
}

.contact{
    text-align: center;
    margin-bottom: 40px;
}

.contact a{
    text-decoration: none;
    color: #303030;
    font-size: 30px;
    margin: 10px;
}

footer{
    text-align: center;
    margin-bottom: 5px;
}

/*パソコン向け*/
@media screen and (min-width:961px) {
    .container{
        width: 70%;
        margin: 0 15%;
    }
    .about_flex{
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .aboutme{
        width: 70%;
    }
    .aboutme h1{
        margin: 30px 0;
        letter-spacing: 0.2em;
    }
    .aboutme h3{
        margin: 10px 0;
    }
    .aboutme p{
        width: 80%;
        line-height: 200%;
        margin: 10px 0;
    }
    .profile_image{
        width: 25%;
        height: auto;
    }
    .skill{
        margin-top: 50px;
    }
    .skill_flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
    }
    .skill_box{
        width: 25%;
    }
    .mobile_pie{
        width: 150px;
        height: 150px;
        font-size: 40px;
    }
    .web_pie{
        width: 150px;
        height: 150px;
        font-size: 40px;
    }
    .design_pie{
        width: 150px;
        height: 150px;
        font-size: 40px;
    }
    .movie_pie{
        width: 150px;
        height: 150px;
        font-size: 40px;
    }
    .skill p{
        margin: 10px 0;
    }
    .achievement{
        margin: 70px 0;
    }
    .achieve_card{
        width: 250px;
        margin: 10px;
        border-radius: 16px;
        box-shadow: 0 0 2px 0 #c0c0c0;
        padding: 10px;
    }
    .achieve_card img{
        width: 250px;
        height: 160px;
        object-fit: cover;
        border-radius: 14px;
    }
    .achieve_card h3{
        margin: 5px 0;
        font-size: 15px;
    }
    .achieve_card p{
        font-size: 12px;
    }
    .achieve_card a{
        margin-top: 10px;
        text-decoration: none;
        font-size: 12px;
        color: #303030;
        display: block;
        text-align: end;
    }
    .achieve_card a span{
        margin-left: 5px;
    }
    .achieve_card a:hover span{
        margin-left: 10px;
        transition: all .5s ease-out;
    }
    .article_card{
        width: 150px;
        margin: 10px;
        border-radius: 12px;
        box-shadow: 0 0 2px 0 #c0c0c0;
        padding: 10px;
    }
    .article_card img{
        width: 150px;
        height: 100px;
        object-fit: cover;
        border-radius: 10px;
    }
    .article_card h3{
        margin: 5px 0;
        font-size: 12px;
        text-decoration: none;
        border-bottom: none;
        color: #303030;
    }
    .article_flex a{
        text-decoration: none;
    }
    .article_flex a:hover .article_card{
        opacity: 60%;
    }
}

/*タブレット向け*/
@media screen and (min-width:521px) and (max-width:960px) {
    h2{
        font-size: 20px;
    }
	.container{
        width: 80%;
        margin: 0 10%;
    }
    .about_flex{
        margin: 70px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .aboutme{
        width: 70%;
    }
    .aboutme h1{
        font-size: 22px;
        margin: 30px 0;
        letter-spacing: 0.1em;
    }
    .aboutme h3{
        font-size: 16px;
        margin: 10px 0;
    }
    .aboutme p{
        font-size: 14px;
        width: 80%;
        line-height: 200%;
        margin: 10px 0;
    }
    .profile_image{
        width: 30%;
        height: auto;
        margin: 50px 0;
    }
    .skill_flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
    }
    .skill_box{
        width: 20%;
    }
    .mobile_pie{
        width: 130px;
        height: 130px;
        font-size: 30px;
    }
    .web_pie{
        width: 130px;
        height: 130px;
        font-size: 30px;
    }
    .design_pie{
        width: 130px;
        height: 130px;
        font-size: 30px;
    }
    .movie_pie{
        width: 130px;
        height: 130px;
        font-size: 30px;
    }
    .skill p{
        margin: 10px 0;
        font-size: 15px;
    }
    .achievement{
        margin: 70px 0;
    }
    .achieve_card{
        width: 200px;
        margin: 10px;
        border-radius: 16px;
        box-shadow: 0 0 2px 0 #c0c0c0;
        padding: 10px;
    }
    .achieve_card img{
        width: 200px;
        height: 120px;
        object-fit: cover;
        border-radius: 14px;
    }
    .achieve_card h3{
        margin: 5px 0;
        font-size: 15px;
    }
    .achieve_card p{
        font-size: 12px;
    }
    .achieve_card a{
        margin-top: 10px;
        text-decoration: none;
        font-size: 10px;
        color: #303030;
        display: block;
        text-align: end;
    }
    .achieve_card a span{
        margin-left: 5px;
    }
    .article_card{
        width: 120px;
        margin: 5px;
        border-radius: 10px;
        box-shadow: 0 0 2px 0 #c0c0c0;
        padding: 10px;
    }
    .article_card img{
        width: 120px;
        height: 70px;
        object-fit: cover;
        border-radius: 8px;
    }
    .article_card h3{
        margin: 5px 0;
        font-size: 12px;
        text-decoration: none;
        border-bottom: none;
        color: #303030;
    }
    .article_flex a{
        text-decoration: none;
    }
}

/*スマホ向け*/
@media screen and (min-width:351px) and (max-width:520px) {
	.container{
        width: 80%;
        margin: 0 10%;
    }
    .aboutme h1{
        font-size: 20px;
        margin: 30px 0;
        letter-spacing: 0.1em;
    }
    .aboutme h3{
        font-size: 16px;
        margin: 10px 0;
    }
    .aboutme p{
        font-size: 14px;
        line-height: 200%;
        margin: 10px 0;
    }
    .profile_image{
        width: 70%;
        height: auto;
        margin: 0 15%;
    }
    .skill{
        margin-top: 50px;
    }
    .skill_flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
    }
    .skill_box{
        width: 40%;
    }
    .mobile_pie{
        width: 70px;
        height: 70px;
        font-size: 20px;
    }
    .web_pie{
        width: 70px;
        height: 70px;
        font-size: 20px;
    }
    .design_pie{
        width: 70px;
        height: 70px;
        font-size: 20px;
    }
    .movie_pie{
        width: 70px;
        height: 70px;
        font-size: 20px;
    }
    .skill p{
        margin: 10px 0;
        font-size: 15px;
    }
    .achievement{
        margin: 70px 0;
    }
    .achieve_flex{
        justify-content: space-around;
        align-items: flex-start;
    }
    .achieve_card{
        width: 250px;
        margin: 10px;
        border-radius: 16px;
        box-shadow: 0 0 2px 0 #c0c0c0;
        padding: 10px;
    }
    .achieve_card img{
        width: 250px;
        height: 120px;
        object-fit: cover;
        border-radius: 14px;
    }
    .achieve_card h3{
        margin: 5px 0;
        font-size: 15px;
    }
    .achieve_card p{
        font-size: 12px;
    }
    .achieve_card a{
        margin-top: 10px;
        text-decoration: none;
        font-size: 10px;
        color: #303030;
        display: block;
        text-align: end;
    }
    .achieve_card a span{
        margin-left: 5px;
    }
    .article_flex{
        justify-content: space-between;
    }
    .article_card{
        width: 120px;
        margin: 5px;
        border-radius: 10px;
        box-shadow: 0 0 2px 0 #c0c0c0;
        padding: 10px;
    }
    .article_card img{
        width: 120px;
        height: 70px;
        object-fit: cover;
        border-radius: 8px;
    }
    .article_card h3{
        margin: 5px 0;
        font-size: 12px;
        text-decoration: none;
        border-bottom: none;
        color: #303030;
    }
    .article_flex a{
        text-decoration: none;
    }
}

@media screen and (min-width:1px) and (max-width:350px) {
	.container{
        width: 80%;
        margin: 0 10%;
    }
    .aboutme h1{
        font-size: 20px;
        margin: 30px 0;
    }
    .aboutme h3{
        font-size: 16px;
        margin: 10px 0;
    }
    .aboutme p{
        font-size: 14px;
        line-height: 200%;
        margin: 10px 0;
    }
    .profile_image{
        width: 70%;
        height: auto;
        margin: 10px 15%;
    }
    .skill{
        margin-top: 50px;
    }
    .skill_flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
    }
    .skill_box{
        width: 70%;
    }
    .mobile_pie{
        width: 70px;
        height: 70px;
        font-size: 20px;
    }
    .web_pie{
        width: 70px;
        height: 70px;
        font-size: 20px;
    }
    .design_pie{
        width: 70px;
        height: 70px;
        font-size: 20px;
    }
    .movie_pie{
        width: 70px;
        height: 70px;
        font-size: 20px;
    }
    .skill p{
        margin: 10px 0;
        font-size: 15px;
    }
    .achievement{
        margin: 70px 0;
    }
    .achieve_flex{
        justify-content: space-around;
        align-items: flex-start;
    }
    .achieve_card{
        width: 200px;
        margin: 10px;
        border-radius: 16px;
        box-shadow: 0 0 2px 0 #c0c0c0;
        padding: 10px;
    }
    .achieve_card img{
        width: 200px;
        height: 120px;
        object-fit: cover;
        border-radius: 14px;
    }
    .achieve_card h3{
        margin: 5px 0;
        font-size: 15px;
    }
    .achieve_card p{
        font-size: 12px;
    }
    .achieve_card a{
        margin-top: 10px;
        text-decoration: none;
        font-size: 10px;
        color: #303030;
        display: block;
        text-align: end;
    }
    .achieve_card a span{
        margin-left: 5px;
    }
    .article_flex{
        justify-content: space-between;
    }
    .article_card{
        width: 120px;
        margin: 5px;
        border-radius: 10px;
        box-shadow: 0 0 2px 0 #c0c0c0;
        padding: 10px;
    }
    .article_card img{
        width: 120px;
        height: 70px;
        object-fit: cover;
        border-radius: 8px;
    }
    .article_card h3{
        margin: 5px 0;
        font-size: 12px;
        text-decoration: none;
        border-bottom: none;
        color: #303030;
    }
    .article_flex a{
        text-decoration: none;
    }
}
