@font-face {
	font-family: 'Myfont';
	src: url("../src/font/font.ttf")
}

*{    
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    font-family:  'Overpass', 'Myfont', sans-serif;
    background-color: #f0f0f0;
    color: #303030;
}

.contact{
    text-align: center;
    margin-bottom: 40px;
}

.contact a{
    text-decoration: none;
    color: #303030;
    font-size: 30px;
    margin: 10px;
}

.contact a:hover{
    opacity: 0.6;
}

.works_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.instagram_box img:hover{
    opacity: 0.6;
}
.instagram_box{
    display: flex;
    flex-wrap: wrap;
}

footer{
    text-align: center;
    margin-bottom: 5px;
}

.work1{
    background-color: #fff;
}

.work2{
    background-color: #273573;
}

.work3{
    background-color: #49C69C;
}

.work4{
    background-color: #e6e6e6;
}

.work5{
    background-image: url(image/work5-bg.jpeg);
    background-color:rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten;
}

.work6{
    background-image: url(image/work6-bg.png);
    background-color:rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten;
}

.work7{
    background-image: url(image/work7-bg.png);
    background-color:rgba(0, 0, 0,0.3);
    background-blend-mode: darken;
}

.work8{
    background-color: #0b0b51;
}

.work9{
    background-image: url(image/work9-bg.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-color:rgba(0, 0, 0,0.3);
    background-blend-mode: darken;
}

.work10{
    background-image: url(image/work10-bg.png);
    background-color:rgba(255, 255, 255, 0.15);
    background-blend-mode: lighten;
}

.work11{
    background-image: url(image/work11-bg.png);
    background-size: 300px;
}

/*パソコン向け*/
@media screen and (min-width:961px) {
    .container{
        width: 70%;
        margin: 0 15%;
        padding-top: 100px;
    }
    .works_flex a{
        text-decoration: none;
        color: #303030;
    }
    .works_card{
        width: 270px;
        margin: 10px;
        border-radius: 16px;
        box-shadow: 0 0 2px 0 #c0c0c0;
        padding: 10px;
    }
    .works_img{
        width: 270px;
        height: 150px;
        border-radius: 14px;
        position: relative;
        overflow: hidden;
        background-size: 270px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .works_img img{
        width: 100%;
        position: absolute;
        transform: scale(1.2);
        transition: transform .4s ease-in-out, top .3s ease;
    }
    .works_card:hover img{
        transform: scale(1.0);
    }
    .works_card h3{
        margin-top: 8px;
    }
    .works_card span{
        height: 1px;
        background-color: #303030;
        display: block;
        opacity: 0.4;
        margin-bottom: 10px;
    }
    .works_card h4{
        font-size: 14px;
        margin-bottom: 5px;
    }
    .works_card p{
        font-size: 12px;
    }

    .instagram{
        margin: 80px calc((100% - 630px) / 2);
        width: 630px;
    }

    .instagram_box{
        width: 630px;
        margin: 20px 0;
    }
    .instagram_box img{
        width: 200px;
        margin: 5px;
    }

    .blank_card{
        box-shadow: none;
    }
}

/*タブレット向け*/
@media screen and (min-width:521px) and (max-width:960px) {
	.container{
        width: 80%;
        margin: 0 10%;
        padding-top: 100px;
    }
    .works_flex a{
        text-decoration: none;
        color: #303030;
    }
    .works_card{
        width: 240px;
        margin: 10px;
        border-radius: 16px;
        box-shadow: 0 0 2px 0 #c0c0c0;
        padding: 10px;
    }
    .works_img{
        width: 240px;
        height: 140px;
        border-radius: 14px;
        position: relative;
        overflow: hidden;
        background-size: 240px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .works_img img{
        width: 100%;
        position: absolute;
        transform: scale(1.2);
        transition: transform .4s ease-in-out, top .3s ease;
    }
    .works_card:hover img{
        transform: scale(1.0);
    }
    .works_card h3{
        margin-top: 8px;
    }
    .works_card span{
        height: 1px;
        background-color: #303030;
        display: block;
        opacity: 0.4;
        margin-bottom: 10px;
    }
    .works_card h4{
        font-size: 14px;
        margin-bottom: 5px;
    }
    .works_card p{
        font-size: 12px;
    }

    .instagram{
        margin: 80px calc((100% - 510px) / 2);
        width: 510px;
    }

    .instagram_box{
        width: 510px;
        margin: 20px 0;
    }
    .instagram_box img{
        width: 160px;
        margin: 5px;
    }

    .blank_card{
        box-shadow: none;
    }
}

/*スマホ向け*/
@media screen and (min-width:351px) and (max-width:520px) {
	.container{
        width: 80%;
        margin: 0 10%;
    }
}

@media screen and (min-width:1px) and (max-width:350px) {
	.container{
        width: 80%;
        margin: 0 10%;
    }
}